
/*=================About Page===================*/

#about-wrapper{
    margin: 4rem;
    position: relative;
}

#about{
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 40rem;
    margin:0 auto;
    border-radius: 10px;
    background-color: #ffffff;
    background-image: url("../Images/gradients.png");
    background-size: 90%;
    background-position: center;
    background-repeat: repeat;
    background-attachment: fixed;
    animation: fade-in 2s ease-in-out forwards;
    overflow: hidden;
}

#about-container{
    width: 100%;
}

.about-tags{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 15rem;
    margin: 0 auto;
    padding: 1rem;
}

.tag-spans{
    padding: 5px 10px;
    text-align:center;
    margin: 2px;
    background-color: #ffffff;
    border-color: #225dff;
    border-width: 2px;
    color: #333;
    border-radius: 5px;
    font-family: 'Signika Negative', sans-serif;
}

#about-span{
    margin: 0 auto;
    text-align: center;
    margin-top: 2rem;
    border-radius: 5px;
}

#about-image{
    margin: 1rem;
    width: 14rem; /* Set the same value as height for a circle */
    height: 14rem; /* Adjust as needed */
    border-radius: 50%; /* This creates the circle shape */
    background-image: url("../Images/Self-Portrait.avif");
    background-size: cover; /* Keeps the aspect ratio and covers the entire element */
    background-position: center; /* Center the image within the element */
    background-repeat: no-repeat;
}

.slider-wrapper {
    display: flex;
    position: relative;
    transition: transform 0.5s ease-in-out; /* Transition for smooth sliding */
}


.slide{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    height: 100%;
    min-width: 100%; /* Make each slide take full width */
    box-sizing: border-box; /* Optional, to include padding and borders in width */
    transition: margin-left 0.5s ease-in-out; /* Smooth transition for sliding effect */
}

.slider-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    margin:0 auto;
    z-index: 1;
    width: 50%;
    animation: fade-in 0.5s ease-in;
    transition: transform 0.3s ease-in;
}

.slider-media {
    flex: 1; /* Adjust this value to control the width ratio between text and media */
    padding: 1rem;
}


.slider-description {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    width: 100%;
    height: 32rem;
    justify-content: flex-start;
    text-align: center;
    align-items: center;
    align-content: center;
    border-radius: 10px;
    background-color: #ffffff9a;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: transform 0.2s ease-in, background-color 0.2s ease-in;
}


.slider-description:hover {
    transform: scale(1.03);
    background-color: #ffffff;
}


.slider-media{
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    max-width: 50%;
    height: 24rem;
    object-fit: cover;
    border-radius: 10px;
    animation: fade-in 1s ease-in-out forwards;
    border-radius: 5px;
    box-shadow: 10 10 10 black;
    background-color: rgba(247, 247, 247,0.8);
    animation: fade-in 2s ease-in forwards;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


/*---------------Buttons----------------*/
.prev{
    align-items: center;
    top: 50%;
    left: 10rem;
}

.next{
    align-items: center;
    top: 50%;
    right: 10rem; 
}

  
button.prev, button.next {
    position: absolute;
    display: inline-block;
    background-color: #2a2a2a;
    border:rgba(0, 0, 0, 0.2);
    color: #ffffff;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;

    font-size: 30px;
    margin: 4px 2px;

    cursor: pointer;
    border-radius: 5px;
  }
  
  /*----------button animation----------*/
  
  button.prev:hover, button.next:hover {
    background-color: #225dff;
    color: #ffffff;
    transform: scale(110%);
    transition: transform 0.2s ease-in;
  }

  button.prev:active, button.next:active {
    background-color: #2a2a2a;
    transform: scale(100%);
    transition: transform 0.2s ease-out;
  }
  
/*=============Media Queries=================*/


/*------------------max-width 1000--------------------*/

@media screen and (max-width: 1000px){


    .slide{
        display: flex;
        flex-direction: column;
    }
    
    .slider-media{
        display: flex;
        flex-direction: column;
    }

}


/*---------------------max-width 1000px-----------------------*/

@media screen and (max-width: 1000px){
    #about-wrapper{
        margin: 2rem;
    }

    #about{
        display: flex;
        flex-direction: column;
        height: 36rem;
        width: 100%;
    }
    
    .about-tags{
        transform: scale(0.9);
        padding-top: 0rem;
        padding-bottom: 0rem;
    }

    .slider-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 90%;
        height: 30rem;
    }

    .slider-media{
        max-width: 100%;
        height: 13rem;
    }

    .prev{
        left: 0rem;
    }
    
    .next{
        align-items: center;
        top: 50%;
        right: 0rem; 
    }
    

}

/*---------------------max-width 600px-----------------------*/
@media screen and (max-width: 600px){

    #about-wrapper{
        margin: 0;
    }

    #about{
        border-radius: 0;
        background-size: 200%;
    }

    .slider-media{
        display: flex;
        max-width: 90%;
        margin: 0 auto;
    }
    
    .slider-description{
        width: 90%;
    }

    #about-image{
        margin: 1rem;
        width: 10rem; /* Set the same value as height for a circle */
        height: 10rem; /* Adjust as needed */
    }

    button.prev, button.next {
        transform: scale(75%);
    }
        /*----------button animation----------*/
    
    button.prev:hover, button.next:hover {
        background-color: #225dff;
        color: #ffffff;
        transform: scale(75%);
        transition: transform 0.2s ease-in;
    }

    button.prev:active, button.next:active {
        background-color: #ffa631;
        transform: scale(75%);
        transition: transform 0.2s ease-out;
    }
  
}
